<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ghostwan.plugin"
	xmlns:android="http://schemas.android.com/apk/res/android"
	>
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
	<uses-permission android:name="android.permission.INTERNET" />

</manifest>